# Godot 4+ specific ignores
.godot/
game_world/rooms/bedroom/locations/bed/bed.gltf
game_world/rooms/bedroom/locations/bed/import/bed.gltf
VersionOne
.bak/.DS_Store
.trunk/.DS_Store
.trunk/actions/trunk-cache-prune/2023-09-16-13-08-14.261.yaml
.trunk/actions/trunk-cache-prune/2023-09-16-13-08-14.274.yaml
.trunk/actions/trunk-cache-prune/2023-09-17-13-19-38.156.yaml
.trunk/actions/trunk-cache-prune/2023-09-19-09-42-00.671.yaml
.trunk/actions/trunk-cache-prune/2023-09-19-13-08-13.591.yaml
.trunk/actions/trunk-share-with-everyone/2023-09-16-13-08-14.261.yaml
.trunk/actions/trunk-share-with-everyone/2023-09-16-13-08-14.278.yaml
.trunk/actions/trunk-share-with-everyone/2023-09-17-13-19-38.182.yaml
.trunk/actions/trunk-share-with-everyone/2023-09-19-09-42-00.668.yaml
.trunk/actions/trunk-share-with-everyone/2023-09-19-13-08-13.589.yaml
.trunk/actions/trunk-single-player-auto-on-upgrade/2023-09-16-13-08-14.266.yaml
.trunk/actions/trunk-single-player-auto-on-upgrade/2023-09-16-13-08-14.274.yaml
.trunk/actions/trunk-single-player-auto-on-upgrade/2023-09-17-13-19-38.173.yaml
.trunk/actions/trunk-single-player-auto-on-upgrade/2023-09-19-09-42-00.668.yaml
.trunk/actions/trunk-single-player-auto-on-upgrade/2023-09-19-13-08-13.590.yaml
.trunk/actions/trunk-single-player-auto-upgrade/2023-09-16-13-08-14.280.yaml
.trunk/actions/trunk-single-player-auto-upgrade/2023-09-16-13-33-24.283.yaml
.trunk/actions/trunk-single-player-auto-upgrade/2023-09-17-13-33-24.162.yaml
.trunk/actions/trunk-single-player-auto-upgrade/2023-09-19-09-42-00.672.yaml
.trunk/actions/trunk-single-player-auto-upgrade/2023-09-19-13-33-24.349.yaml
.trunk/logs
.trunk/notifications
.trunk/out
.trunk/tools
